[Unit]
Description=AuthMonitor

[Service]
EnvironmentFile=-/etc/default/auth-monitor
ExecStart=/usr/bin/auth-monitor-daemon.sh --test
Restart=on-failure

[Install]
WantedBy=multi-user.target
